body, select, input, textarea
	font-family 'Roboto', sans-serif
	margin 1em
	font-size 1em
	background #E8E8E8

h1
	font-size 3em

h2
	font-size 2em

audio
	font-size 10pt

button
	margin 10pt

p
	font-feature-settings liga 1

article
	color green

article p:first-of-type
	font-size 2 rem
