doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Ben Stanfield Portfolio

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')

    link(rel='stylesheet', href='./css/normalize.css')
    link(rel='stylesheet', href='./css/portfolio.css')

  body
    div#page
      section
        header 
          img(src='/img/stanfield-185x257.png')
        aside.rhythm
          div.left
            p Decathalon Poster
          div.right
            p While learning Photoshop, I used an image of world-record holder Ashton Eaton.
            p Typeface: Effra

      section
        nav
          div.navdropdown
          div.markdown
            :markdown
              ### Logos.
              * [Nearside](/nearside.html)
              * [Pinch](/pinch.html)
              * [Pender Capital](/pender.html)

              ### Posters.
              * [Sotomayor](/sotomayor.html)
              * [Bees Knees](/index.html)
              * [Decathlon](/decathlon.html)
              * [Telescope](/telescope.html)

              ### Magazines.
              * Faraday

          footer
            p Ben Stanfield
            p benstanfield@me.com
            p © 2014
            p#heart ❣

        article
          img(src='/img/eaton.jpg')
          p Built with Photoshop CC 2014. Note how the 'C' wraps around his bicep.

      section
        article

            

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/js/all.js')
