doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Ben Stanfield Portfolio

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')

    link(rel='stylesheet', href='./css/normalize.css')
    link(rel='stylesheet', href='./css/portfolio.css')

  body
    div#page
      section
        header 
          img(src='/img/stanfield-185x257.png')
        aside.rhythm
          div.left
            p The Bee’s Knees and the Cat’s Pajamas
          div.right
            p Part of the Roaring 20s collection. Inspired by the idioms from over a century ago. Where is this going? I have more to do.
            p Typeface: Bebas Neue

      section
        nav
          div.navdropdown
          div.markdown
            :markdown
              ### Logos.
              * [Nearside](/nearside.html)
              * [Pinch](/pinch.html)
              * [Pinter Bank](/pinter-bank.html)

              ### Posters.
              * [Sotomayor](/sotomayor.html)
              * [The Bees Knees](/the-bees-knees.html)
              * [Running](/running.html)
              * [Telescope](/telescope.html)

              ### Magazines.
              * Faraday

          footer
            p Ben Stanfield
            p benstanfield@me.com
            p © 2014
            p#heart ❣

        article
          img(src='/img/the-bees-knees.png')
          p By using the modular scale with our base font-size of 20px on 

      section
        article

            

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='/js/all.js')
