doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title RD Party RSVP

    link(rel='stylesheet', href='./css/normalize.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='./css/custom.css')

  body
    block content

    //if lt IE 8
      <p class="browsehappy">You are using an outdated browser.<a href="http://browsehappy.com/">Update today</a></p>

    // script.
    //   var _gauges = _gauges || [];
    //     (function() {
    //       var t   = document.createElement('script');
    //       t.type  = 'text/javascript';
    //       t.async = true;
    //       t.id    = 'gauges-tracker';
    //       t.setAttribute('data-site-id', '51bde760f5a1f554070000be');
    //       t.src = '//secure.gaug.es/track.js';
    //       var s = document.getElementsByTagName('script')[0];
    //       s.parentNode.insertBefore(t, s);
    //     })();

